<%- include('./partials/head.ejs') %>

<main>
    <section>
      <h1>Vini Mini Chat<span> Samen tegen allergiën</span></h1>
      <ul></ul>
      <form>
        <input type="text" autocomplete="off">
        <button><span>Send</span></button>
      </form>
    </section>
  </main>

  

<%- include('./partials/foot.ejs') %>