/* nieuwe style chatroom */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  /* kleuren */
  --vm-blue: #DAEEEE;
  --vm-pink: #F1C8BA;
  --vm-dark-pink: #E68460;
  --vm-dark-blue: #152A45;
  --vm-blue-2: #BADDCE;
}

body{
  background-color: var(--vm-blue);
  font-family: 'Montserrat', sans-serif;
}
.logo{
  transition: 1s;
}
.logo.animatie{
  transition: 1s;
  rotate: 360deg;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  color: var(--vm-dark-blue);
  z-index: 100;
}
span{
  color: var(--vm-dark-pink);
}
section{
  border: 1px solid var(--vm-dark-blue);  
  border-radius: 2rem;
  box-shadow: 0rem 0rem 5rem 2rem white;
  display: flex;
  flex-direction: column;
  padding:2rem;
  height: 70vh;
  width: 70vw;
  max-width:20rem;
}
ul{
  list-style-type: none;
  padding-left: 0px;
  color: var(--vm-dark-blue);
  height: 46vh;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  background: transparent;
}
form{
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
input{
  height:1.5rem;
  border-radius: .5rem;
  border-color: var(--vm-dark-blue);
}
button{
  margin-top:1rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: var(--vm-blue-2);
  font-size: 1.5rem;
}
button:hover{
  background-color: var(--vm-dark-blue);
  color: white;
}

/* eigen bericht of niet */

/* .own-message {
  text-align: right;
}

.other-message {
  text-align: left;
} */



/* body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;

    background: #72AFA6;
  }
  
  main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section {
    width: 20rem;
    height: 30rem;
  
    background: white;
    backdrop-filter: blur(1rem);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0.8rem 0.8rem 1.6rem 0 rgba(206, 205, 205, 0.5),
      -0.8rem -0.8rem 1.6rem 0 rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  section h1 {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  section h1 span {
    font-size: 0.5rem;
    display: inline-block;
    width: 4.5rem;
    color: #152A45;
    text-transform: lowercase;
    margin-left: 1rem;
  }
  
  section ul {
    margin: 0;
    padding: 0.2em;
    list-style-type: none;
    flex-grow: 2;
    width: 18em;
    overflow-y: scroll;
  }
  
  ::-webkit-scrollbar {
    background: transparent;
  }
  
  section ul > li {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
  
  section form {
    margin: 0 0 1rem 0;
    padding: 0;
    width: 18rem;
    height: 2rem;
    display: flex;
  }
  
  section form input[type='text'] {
    margin: 0;
    padding: 0 1rem;
    border: none;
    height: 2rem;
    flex-grow: 2;
    background: #F4EB34;
    box-shadow: inset 0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border: 0;
    opacity: 80%;
    outline: none;
  }
  
  section form > button {
    padding: 0 0.6rem 0 0.4rem;
    width: 2rem;
    background: #F4EB34;
    box-shadow: inset -0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 0;
    opacity: 80%;
    outline: none;
    transition: 0.2s;
  }
  
  section form > button span {
    display: none;
  }
  
  section form > button::after {
    content: '⇒';
  }
  
  section form > button:hover {
    padding-left: 1rem;
  }
  
  section form > button:active {
    padding-left: 1rem;
    color: red;
  } */